@font-face {
    font-family: 'RobotoCondensed';
    src: url(./font/RobotoCondensed-LightItalic.ttf);
    font-display: block;
}
html { scroll-behavior: smooth;}


body {
    margin: 0px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    color: #1F1F1F;
}

.wrap {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 20pt;
    text-align: center;
    font-family: 'RobotoCondensed';
    margin-bottom: 10%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 100vh;
}

.scroll-button {
    display: none;
}

.name {
    position: fixed;
    font-size: 30pt;
    font-family: 'RobotoCondensed';
    letter-spacing: 5px;
}

.name a{
    color: #1F1F1F;
    text-decoration: none;
}

.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
}

.works {
    width: 100%;
    margin-top: 10%;
    /*    margin-topを10%に*/
}
.works-wrap {
   display: none;
}
.works-name a{
    color: #1F1F1F;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.products img {
    width: 80%;
    height: 80%;
    cursor: pointer;
}

.about {
    width: 100%;
    margin-top: 10%;
}

.profile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}
.profile-name{
    margin-top: 10px;
    font-size: 16px;
}
.profile-text{
    width: 50%;
}

.profile-text p {
    font-size: 16px;
    margin-top: 0;
}
.profile-text span {
    font-size: 12px;
}

.profile-image {
    width: 40%;
}

.profile-image img {
    width: 80%;
}

.contact {
    width: 100%;
    margin: 10% auto;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto 10% auto;
}

.contact-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-icon a {
    margin: 0 auto;
    transition-duration: 0.3s;
}

.contact-icon a:hover {
    transform: scale(1.2);
}

.contact-icon h4 {
    font-size: 8pt;
    font-family: 'RobotoCondensed';
    text-align: center;
}

.contact-icon img {
    margin: 0 auto;
    width: 60px;
    cursor: pointer;
}


/*============
works
=============*/
.works-header {
    width: 96vw;
    margin: 20px;
}

.works-name {
    font-size: 35pt;
    font-family: 'RobotoCondensed';
}

.works-main {
    margin: 0 auto;
    width: 60%;
}

.works-slide {
    width: 60vw;
    height: auto;
}
.works-image{
    width: 60vw;
}
.works-title {
    width: 96vw;
    margin-top: 50px;
    margin-bottom: 30px;
}

.works-title-text {
    font-size: 33pt;
    font-weight: bold;
    letter-spacing: 20px;
}

.works-description {
    display: flex;
    flex-direction: row;
}

.works-description-left {
    width: 45%;
    margin-bottom: 10%;
}

.works-description-right {
    margin-left: 10%;
    width: 45%;
}

.works-description-right p {
    line-height: 25px;
}

.works-description p {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.works-description a{
    color: #1F1F1F;
}

.works-back {
    position: fixed;
    right: 80px;
    bottom: 50px;
}

.works-back-text {
    display: inline-block;
    position: relative;
    color: #555;
    text-decoration: none;
    cursor: pointer;
}

.works-back-text:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: #555;
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.4s;
}

.works-back-text:hover:before {
    transform: scale(1);
}



/*============
nav
=============*/
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -60vw;
    bottom: 0;
    width: 60vw;
    background: #1F1F1F;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 2;
    opacity: 0;
}

/*navのrightを-60vwに、widthを60vwに*/

.open nav {
    right: 0;
    opacity: 1;
}

nav .inner {
    padding: 25px;
}

nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li a {
    display: block;
    color: #fff;
    font-size: 20pt;
    font-family: 'RobotoCondensed';
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
    margin: 50px auto;
}

/*============
  loading
  =============*/
.loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    animation: anim 1s forwards;
}

@keyframes anim {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-32.5vw);
    }

    /*    transformをtranslateX(-32.5vw)に */
}

/*============
  .toggle_btn
  =============*/
.toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
}

.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
}

.toggle_btn span:nth-child(1) {
    top: 4px;
}

.toggle_btn span:nth-child(2) {
    top: 14px;
}

.toggle_btn span:nth-child(3) {
    bottom: 4px;
}

.open .toggle_btn span {
    background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

/*============
tablet
=============*/
@media screen and (max-width:1024px) {

    .name {
        font-size: 20pt;
    }

    h3 {
        font-size: 15pt;
    }

    nav {
        width: 100vw;
        right: -100vw;
    }

    .profile {
        width: 100%;
    }

    .profile-image {
        width: 40%;
        /*    min-width: 120px;*/
    }
    .profile-name{
    font-size: 10px;
    }

    .profile-text p {
        font-size: 10px;
    }
    .profile-text span {
    font-size: 8px;
    }

    .contact-list {
        width: 80%;
    }

    .contact-icon img {
        width: 40px;
    }

    .contact-icon h4 {
        font-size: 3pt;
    }

    .works-title-text {
        font-size: 14px;
        letter-spacing: 5px;
    }

    .toggle_btn {
        width: 20px;
        right: 20px;
    }

    .toggle_btn span {
        width: 20px;
    }

    .works-main {
        margin: 0 auto;
        width: 80%;
    }
    .works-slide {
    width: 80vw;
    height: auto;
    }
    .works-image{
    width: 80vw;
    }

    .works-title-text {
        font-size: 25px;
        letter-spacing: 5px;
    }
}

/*============
sp
=============*/
@media screen and (max-width:649px) {
    .wrap {
        flex-direction: column;
    }
    .loading-text{
        display: none;
    }

    .left {
        width: 100vw;
        height: 100vh;
    }

    .scroll-button {
        position: absolute;
        bottom: 20px;
        z-index: 2;
        display: inline-block;
        text-decoration: none;
        padding-top: 80px;
        font-family: 'RobotoCondensed';
        color: #1F1F1F;
    }

    .scroll-button span{
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 2px solid #1F1F1F;
        border-bottom: 2px solid #1F1F1F;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb 2s infinite;
        animation: sdb 2s infinite;
        opacity: 0;
        box-sizing: border-box;
    }

    .scroll-button span:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .scroll-button span:nth-of-type(2) {
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }

    .scroll-button span:nth-of-type(3) {
        top: 32px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }

    @-webkit-keyframes sdb {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes sdb {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }




    .animation {
        animation: anim 1s forwards;
    }

    @keyframes anim {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 1;

        }
    }

    .name {
        position: relative;
        font-size: 20pt;
        letter-spacing: 7px;
    }

    .right {
        width: 96vw;
        margin: 50px auto;
    }

    h3 {
        font-size: 15pt;
    }

    .profile {
        width: 100%;
        display: block;
    }

    .profile-image {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .profile-text{
        width: 60%;
        margin: 0 auto;
    }

    .profile-text p {
        font-size: 10px;
        text-align: center;
        margin-top: 30px;
        
    }
    .profile-text span {
    font-size: 8px;
    }

    .contact-list {
        width: 80%;
    }

    .contact-icon img {
        width: 40px;
    }

    .contact-icon h4 {
        font-size: 3pt;
    }

    .toggle_btn {
        width: 20px;
        right: 20px;
    }

    .toggle_btn span {
        width: 20px;
    }

    nav {
        width: 100vw;
        right: -100vw;
    }

    nav .inner ul li a {
        font-size: 20pt;
    }

    .toggle_btn {
        right: 20px;
    }

    .works-name {
        font-size: 25pt;
        font-family: 'RobotoCondensed';
    }

    .works-title-text {
        font-size: 14px;
        letter-spacing: 5px;
    }

    .works-description {
        flex-direction: column;
    }

    .works-description-left {
        width: 96%;
    }

    .works-description-right {
        margin-left: 0;
        width: 96%;
    }

    .works-description p {
        font-size: 8px;
        font-weight: bold;
    }

    .works-back-text {
        font-size: 9pt;
    }
}
/*============
small sp
=============*/
@media screen and (max-width:360px) {
    .profile-image {
    width: 80%;
    }
    .profile-text{
        width: 80%;
    }

}
